{% set switch = interfaces[ansible_hostname] -%}
{% set loopback = switch.loopback -%}


##### eth0 OOB Managment #####
auto eth0
iface eth0 inet dhcp

auto lo
iface lo inet loopback
  address {{ loopback.ip }}

##### Source defaults for all interfaces except TOR, L2 and L3 Spine Links #####
source /etc/network/interfaces.d/swp_defaults
