{% set loopback_ip = interfaces[ansible_hostname].loopback.ip -%}
{% set router_id = interfaces[ansible_hostname].loopback.ip | ipaddr("address") -%}
{% set spineports = interfaces[ansible_hostname].l3spinelinks -%}
{% set bridges = interfaces[ansible_hostname].bridges -%}
!
{### Set logging file location ###}
log file /var/log/quagga/ospfd.log
{### Combine config files to /etc/quagga/Quagga.conf ###}
service integrated-vtysh-config
!
{### Spine Interfaces ###}
{% for switchport in spineports %}
interface {{ switchport }}
 ip ospf network point-to-point
 link-detect
!
{% endfor %}
{### Bridge Interfaces ###}
{% for bridge in bridges -%}
{% if 'address' in bridge %}
interface {{ bridge.name }}
 ip ospf network point-to-point
!
{% endif %}
{% endfor -%}
{### OSPF Unnumbered Config ###}
router ospf
 ospf router-id {{ router_id }}
 network {{ loopback_ip }} area 0.0.0.0
{% for bridge in bridges -%}
{% if 'address' in bridge %}
 network {{ bridge.address }} area 0.0.0.0
 passive-interface {{ bridge.name }}-v0
{% endif %}
{% endfor -%}
!
