{% set loopback_ip = interfaces[ansible_hostname].loopback.ip -%}
{% set router_id = interfaces[ansible_hostname].loopback.ip | ipaddr("address") -%}
{% set spineports = interfaces[ansible_hostname].l3spinelinks -%}
{% set bridges = interfaces[ansible_hostname].bridges -%}
!
{### Set logging file location ###}
log file /var/log/quagga/ospfd.log
{### Combine config files to /etc/quagga/Quagga.conf ###}
service integrated-vtysh-config
!

