# This file describes the network interfaces available on your system
# and how to activate them. For more information, see interfaces(5).

# The loopback network interface

auto vagrant
iface vagrant inet dhcp

auto lo
iface lo inet loopback

# The primary network interface
auto eth0
iface eth0 inet dhcp

auto br
iface br inet static
  bridge_ports glob swp1-18
  address 10.254.254.254
  netmask 255.255.255.0

{% for i in range(1, 49) %}
auto swp{{ i }}
iface swp{{ i }}

{% endfor %}

