{% set loopback_ip = interfaces[ansible_hostname].loopback.ip -%}
{% set switchports = interfaces[ansible_hostname].links -%}
{% set router_id = interfaces[ansible_hostname].loopback.ip | ipaddr("address") -%}
!
{### Set logging file location ###}
log file /var/log/quagga/ospfd.log
{### Combine config files to /etc/quagga/Quagga.conf ###}
service integrated-vtysh-config
!
{### Spine Interfaces ###}
{% for switchport in switchports %}
interface {{ switchport }}
 ip ospf network point-to-point
 link-detect
!
{% endfor %}
{### OSPF Unnumbered Config ###}
router ospf
 ospf router-id {{ router_id }}
 network {{ loopback_ip }} area 0.0.0.0
!
